<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/head%>
</head>

<body>

<%include partials/header%>

    <section id="contact-me">
    <!-- Page Content -->
    <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div id='pageID' ><h1>Contact me</h1>
                            <hr></div>
                        <form action="" method="post">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <div class="controls">
                                            <input required name="contactName" placeholder="Your name" class="form-control input-lg" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="contact-mail">Email</label>
                                        <div class=" controls">
                                            <input required name="email" placeholder="Your email" class="form-control input-lg" type="email" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="contact-message">Message</label>
                                <div class="controls">
                                    <textarea name="comments" placeholder="Your message" class="form-control col-md-12" required rows="10" data-error-empty="Enter message"></textarea>
                                </div>
                            </div>
                            <p><button name="submit" type="submit" class="btn btn-success">Send Message</button></p>
                        </form>
                    </div>
                </div>

                <!-- Footer -->
                <section id="contact-me-footer">
                <%include partials/footer%>
                </section>
    </div>

    </section>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 6000 //changes the speed
    })
    </script>

</body>

</html>
