<!DOCTYPE html>
<html lang="en">

<head>

<%include partials/head%>

</head>

<body>

    <%include partials/header%>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides   >>> &text=Slide One -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('img/665093 copy.jpg');"></div>
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/cropped-1920-1080-380534.png');"></div>
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/test-automation-and-devops copy.png');"></div>
                <div class="carousel-caption">

                </div>
            </div>
                <div class="item">
                    <div class="fill" style="background-image:url('img/web-development-online-courses copy.png');"></div>
                    <div class="carousel-caption">

                    </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Most Recent Experience
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Prototyping, IoT, Business Analytics</h4>
                    </div>
                    <div class="panel-body">
                        <p>Prototype Development "C#", IoT C++, Business Analytics Python</p>
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-portfolio img-hover" src="img/IoT Robot.jpg" alt="">
                        </a>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Web Development</h4>
                    </div>
                    <div class="panel-body">
                        <p>Django Python and Node.js Express<br><br> </p>
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-portfolio img-hover" src="img/tweetybitcoin.jpg" alt="">
                        </a>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Hackerrank and CodeEval</h4>
                    </div>
                    <div class="panel-body">
                        <p>Hackerrank and CodeEval Algorithm challenges statistics</p>
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-portfolio img-hover" src="img/codeeval.jpg" alt="">
                        </a>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- views/partials/portfolio.ejs-->
        <%include partials/portfolio%>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>One Page Resume (Experience and Knowledge)</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="/resume">Open Resume</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <%include partials/footer.ejs%>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
