<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/head%>
</head>

<body>

<%include partials/header%>
    <section id="quick-prototype">
    <!-- Page Content -->
    <div class="container">

        <!-- Page Content -->
        <div id="Prototype">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Quick Prototypes</h1>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4">
                        <a href="/">
                            <img class="img-responsive img-portfolio img-hover" src="img/Robot_prototype.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <h4>Raspberry Pi Zero Based Robot</h4>
                        <p class="text-justify">

                            Creating prototype of any product is very interesting. I had a dream in my childhood to
                            build a robot. I decided to build one.

                            There are more details in the blog of building robot based on <strong>Raspberry Pi Zero</strong>,
                            which can do pretty high computational tasks and it has 4 Usb ports.
                            There are many robotics projects based on arduino, but for me building robot based on
                            arduino does not make sense. The performance of arduino device is not good enough for image
                            processing or any other complex projects.

                        </p>
                        <p class="text-justify">
                           Details and links.
                            <ul>
                            <li><a href="/blog">Details in the Blog</a></li>
                            <li><a href="/blog">Soure Code</a></li>
                            <li><a href="/blog">Used Parts and Images</a></li>

                        </ul>
                        </p>
                        </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-lg-8">
                        <h4>C# and Microsoft Power BI</h4>
                        <p class="text-justify">
                            I worked in a two startups as an Intern and did my best use both of my knowledge in
                            Business and Computer Science. Business Analytics is not only working with data, but
                            also developing custom applications to optimize and grow the business.
                        </p>
                        <p class="text-justify">
                            Every business wants to know how it can increase revenues, real time performance and business
                            volumes. In this project I developed client application which imports data from company main
                            management software API, made data management and optimization and uploaded it
                            to <strong>Microsoft Power BI</strong>.
                        </p>
                        <br>
                        <p class="text-justify">

                        </p>
                    </div>
                    <div class="col-lg-4">
                            <a href="/">
                                <img class="img-responsive img-portfolio img-hover" src="img/PowerBI.jpg" alt="">
                            </a>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-lg-4">
                        <a href="/">
                            <img class="img-responsive img-portfolio img-hover" src="img/Kinect.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <h4>Microsoft Kinect Image Processing and C# Development</h4>
                        <p class="text-justify">
                            I did development on Microsoft Kinect SDK to scan objects real time and take dimensions.
                            It was not easy as I had to read a lot of research papers on image recognition and
                            learn Kinect SDK with OpenCV.

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <!-- Call to Action Section -->
        <%include partials/call%>

    </div>
    </section>

    <!-- /#page-content-wrapper -->




        <hr>

        <!-- Footer -->
        <%include partials/footer%>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
