<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/head%>
</head>

<body>

<%include partials/header%>
    <section id="quick-prototype">
    <!-- Page Content -->
    <div class="container">

        <!-- Page Content -->
        <div id="Prototype">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Startup Ideas to Share</h1>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4">
                        <a href="/">
                            <img class="img-responsive img-portfolio img-hover" src="img/workingOnIdea.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <h4>Ideas worth implementation</h4>
                        <p class="text-justify">
                            I like to be creative and usually write down different startup ideas to my Microsoft OneNote.
                            However Idea worth nothing if it is not implemented. I am thinking to share and discuss
                            some of the ideas in this page.
                            <br>
                            As soon as I will come up with a good structure to share ideas and discuss them, I will work on this page.
                        </p>

                        </div>
                </div>


            </div>
        </div>

        <hr>
        <!-- Call to Action Section -->
        <%include partials/call%>

        <hr>

        <!-- Footer -->
        <%include partials/footer%>

        <!-- /.container -->
    </div>
    </section>





    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
