<!DOCTYPE html>
<html lang="en">

<head>

    <%include partials/head%>

</head>

<body>

   <%include partials/header%>

    <div class="container">

        <!-- Page Content -->
        <div id="About-me">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>TweetyBitcoin Project</h1>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-justify">
                            This is my small startup.
                        </p>
                        <br>

                    </div>
                </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
       <%include partials/call%>

        <hr>

        <!-- Footer -->
        <%include partials/footer%>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
