<!-- views/partials/call.ejs-->

<!-- Call to Action Section -->
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p><h4>One page Resume</h4></p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="/resume">Open Resume</a>
        </div>
    </div>
</div>