<!-- views/partials/portfolio.ejs-->

<!-- Portfolio Section -->

<div id="navigator" class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Portfolio</h1>
    </div>
    <div class="caption col-md-4 col-sm-6 view hm-zoom">
        <a href="/tweetybitcoin">
            <img class="img-responsive img-portfolio img-hover" src="img/tweetybitcoin.jpg" alt="">

        </a>

    </div>
    <div class="col-md-4 col-sm-6">
        <a href="/smarthome">
            <img class="img-responsive img-portfolio img-hover" src="img/homemonitoring.jpg" alt="">
        </a>

    </div>
    <div class="col-md-4 col-sm-6">
        <a href="/blog/robot">
            <img class="img-responsive img-portfolio img-hover" src="img/IoT Robot.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="/portfolioproject">
            <img class="img-responsive img-portfolio img-hover" src="img/portfolioNode.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="/startupidea">
            <img class="img-responsive img-portfolio img-hover" src="img/workingOnIdea.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="https://www.codeeval.com/profile/ilhom.uz/">
            <img class="img-responsive img-portfolio img-hover" src="img/codeEval.jpg" alt="">
        </a>
    </div>
</div>
<!-- /.row -->

<hr>