<!-- views/partials/portfolio.ejs-->

<!-- Portfolio Section -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Portfolio</h2>
    </div>
    <div class="caption col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="img/tweetybitcoin.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="img/homemonitoring.jpg" alt="">
        </a>

    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="img/IoT Robot.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="img/portfolioNode.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="img/workingOnIdea.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="img/codeEval.jpg" alt="">
        </a>
    </div>
</div>
<!-- /.row -->

<hr>